<div class="navbar-container">
  <nav class="nav-container">
    <img src="../assets/images/logo.png" />
    <a href="http://localhost:4200/"> WayFarer </a>
    <input
      type="text"
      placeholder="Enter a post title"
      class="search-cities"
      [(ngModel)]="postTitle"
      (keyup)="findPostsByTitle(postTitle)"
    />
    <input
      type="submit"
      value="Search"
      class="search-cities-button"
      (click)="findPostsByTitle(postTitle)"
    />
  </nav>
  <button class="routerlink-button" routerLink="/cities">Show City List</button>
</div>
<img class="home-background-img"src="https://cdn.stocksnap.io/img-thumbs/960w/ocean-water_DLHXWO09HY.jpg"/>
