<div class="navbar-container">
  <nav class="nav-container">
    <img src="../assets/images/logo.png" />
    <a href="http://localhost:4200/"> WayFarer </a>
    <button (click)="displaySearch()">Search Posts</button>
    <div [hidden]="toggleSearchField">
      <input
        type="text"
        placeholder="Enter a post title"
        class="search-cities"
        [(ngModel)]="postTitle"
        (keyup)="findPostsByTitle(postTitle)"
      />
      <input
        type="submit"
        value="Search"
        class="search-cities-button"
        (click)="findPostsByTitle(postTitle)"
      />
    </div>
  </nav>
</div>
<img />
<button routerLink="/cities">Show City List</button>
