<div class="container">
  <app-cities class="cities-container"></app-cities>

  <div class="info-container">
    <div class="name-country-div">
      {{ cityObject.name }},
      {{ cityObject.country }}
    </div>

    <ul *ngFor="let posts of cityObject.posts; let i = index">
      <li>
        <a routerLink="/cities/{{ i }}/post">
          {{ posts.title }}
        </a>
      </li>
      <br />
      <li>
        Description:
        {{ posts.content }}
      </li>
    </ul>
    <img src="{{ cityObject.image }}" maxWidth="351px" />
  </div>
</div>

<app-info-page
  posts="{{ cityObject.posts }}"
  message="parentMessage"
></app-info-page>
